
ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.nav-link {
  align-self: center;
  justify-self: center;
  margin: 0px 20px;
}